
body{
    font-family: "Montserrat";
}
#title{
    background-color: #ff4c68;
}
.container-fluid{
    padding: 3% 15% 7%;
}
h1{color: white;
    font-weight: bolder;
    font-family: 'Montserrat-Black 900', sans-serif;
font-size:3rem;
line-height:1.5;
}
.navbar{
    padding:0 0 4.5rem;
}
.navbar-brand{
    font-weight: bold;
     font-family: 'Ubuntu', sans-serif;
     font-size: 2rem;
}
.nav-item{
    padding: 0 16px;
}
.nav-link{
    font-family:'Montserrat-Dark',sans-serif;
    font-size: 1.2rem;
}
.download-button{margin-bottom:5px;
    margin: 5% 3% 5% 0;
}
.dog{
    width: 65%;
    position: absolute;
transform: rotate(25deg);
right: 40px;
}

.col{
    margin: 0 auto 0 auto;
}
.easy{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
}
.style{ font-family: 'Ubuntu', sans-serif;
  
    color: #8f8f8f;
}
.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #ff4c68;
}



.f{background-color: white;
    position: relative;
    padding: 7% 15%;
    z-index: 1;
   
 
}
.fa-solid{
    width: 50%;
}
.features-box{
    text-align: center;
}
#testimonials{
   
text-align: center;
background-color: #ef8172;
color: white;
}
h2{
    font-family: 'Montserrat-Bold',sans-serif ;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bold;
}
.testimonials-image{
    width: 15%;
    margin: 20px;
    border-radius: 100%;
}
#press{
    background-color: #ef8172;
text-align: center;
}
.press-logo{
    width: 15%;
    margin: 20px 20px;
}
.carousel-item{
    padding: 7% 15%;
}
#pricing{
    padding: 100px;
    text-align: center;
}
p{ font-family: 'Montserrat-Bold',sans-serif ;
color: #8f8f8f;
}
h3{ font-family: 'Montserrat-Bold',sans-serif ;
    font-weight: bold;

}
.sign-up{
    padding: 2% 3%;
}
@media (max-width:995px){
    #title{
        text-align:center;
    }
    .dog{
        position: static;
        transform:rotate(0);
    }
}
.call{
    background-color:#ff4c68;
text-align:center;
padding: 7% 15%;

}
.call-heading{
     color:white;
  font-size:3rem;
  line-height:1.5;
   
}
#footer{
    padding:7% 15%;
    text-align:center;

}
.social-icon{
    width:18px;
    margin:20px 10px;
}